@{
  ViewData["Title"] = "Home Page";
}

<section class="masthead -type-1 js-mouse-move-container">
  <div class="masthead__bg">
    <img src="~/img/home-1/hero/bg.png" alt="image">
  </div>

  <div class="container">
    <div data-anim-wrap class="row y-gap-30 justify-between items-end">
      <div class="col-xl-6 col-lg-6 col-sm-10">
        <div class="masthead__content">
          <h1 data-anim-child="slide-up" class="masthead__title">
            Learn New Skills Online
            with Hand-crafted <span class="text-green-1 underline">engineering coding problems</span>
          </h1>
          <p data-anim-child="slide-up delay-1" class="masthead__text">
            Solve coding problems and learn new skills at your own pace. Our courses are created by highly involved and
            experienced engineers, that have real world experience.
          </p>
          <div data-anim-child="slide-up delay-2" class="masthead__buttons row x-gap-10 y-gap-10">
            @if (!SecurityContext.IsAuthenticated)
            {
              <div class="col-12 col-sm-auto">
                <a data-barba href="signup.html" class="button -md -purple-1 text-white">Join For Free</a>
              </div>
            }
            <div class="col-12 col-sm-auto">
              <a data-barba asp-action="Index" asp-controller="Course"
                class="button -md -outline-green-1 text-green-1">Find
                Problems</a>
            </div>
          </div>
          <div data-anim-child="slide-up delay-3" class="masthead-info row y-gap-15 sm:d-none">

            <div class="masthead-info__item d-flex items-center text-white">
              <div class="masthead-info__icon mr-10">
                <img src="~/img/masthead/icons/1.svg" alt="icon">
              </div>
              <div class="masthead-info__title lh-1">Over 400 students</div>
            </div>

            <div class="masthead-info__item d-flex items-center text-white">
              <div class="masthead-info__icon mr-10">
                <img src="~/img/masthead/icons/2.svg" alt="icon">
              </div>
              <div class="masthead-info__title lh-1">More than 30 problems</div>
            </div>

            <div class="masthead-info__item d-flex items-center text-white">
              <div class="masthead-info__icon mr-10">
                <img src="~/img/masthead/icons/3.svg" alt="icon">
              </div>
              <div class="masthead-info__title lh-1">Learn anything online</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="layout-pt-lg layout-pb-lg bg-dark-2">
  <div data-anim-wrap class="container">
    <div class="row justify-center text-center">
      <div data-anim-child="slide-up delay-1" class="col-auto">

        <div class="sectionTitle ">

          <h2 class="sectionTitle__title text-white">Why learn with our problems?</h2>

        </div>

      </div>
    </div>

    <div class="row y-gap-30 pt-50">

      <div data-anim-child="slide-up delay-2" class="col-lg-4 col-md-6">
        <div class="stepCard -type-1 -stepCard-hover">
          <div class="stepCard__content">
            <div class="stepCard__icon">
              <i class="icon-online-learning-4 text-64 text-green-1"></i>
            </div>
            <h4 class="stepCard__title">01. Learn</h4>
            <p class="stepCard__text"> Lorem ipsum dolor sit amet, consectetur dolorili adipiscing elit. Felis
              donec massa aliqua.</p>
          </div>
        </div>
      </div>

      <div data-anim-child="slide-up delay-3" class="col-lg-4 col-md-6">
        <div class="stepCard -type-1 -stepCard-hover">
          <div class="stepCard__content">
            <div class="stepCard__icon">
              <i class="icon-graduation-1 text-64 text-green-1"></i>
            </div>
            <h4 class="stepCard__title">02. Graduate</h4>
            <p class="stepCard__text"> Lorem ipsum dolor sit amet, consectetur dolorili adipiscing elit. Felis
              donec massa aliqua.</p>
          </div>
        </div>
      </div>

      <div data-anim-child="slide-up delay-4" class="col-lg-4 col-md-6">
        <div class="stepCard -type-1 -stepCard-hover">
          <div class="stepCard__content">
            <div class="stepCard__icon">
              <i class="icon-working-at-home-2 text-64 text-green-1"></i>
            </div>
            <h4 class="stepCard__title">03. Work</h4>
            <p class="stepCard__text"> Lorem ipsum dolor sit amet, consectetur dolorili adipiscing elit. Felis
              donec massa aliqua.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="layout-pt-md layout-pb-md bg-purple-1">
  <div class="container">
    <div class="row y-gap-20 justify-between items-center">
      <div class="col-xl-4 col-lg-5">
        <h2 class="text-30 lh-15 text-white">
          Join more than <span class="text-green-1">8 million learners</span> worldwide
        </h2>
      </div>

      <div class="col-auto">
        <a data-barba asp-action="Index" asp-controller="Course" class="button -md -green-1 text-dark-1">Find
          Problems</a>
      </div>
    </div>
  </div>
</section>