@model CourseListViewModel

@{
  ViewData["Title"] = "Explore problems";
}

<section data-anim="fade" class="breadcrumbs ">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <div class="breadcrumbs__content">

          <div class="breadcrumbs__item ">
            <a href="#">Home</a>
          </div>

          <div class="breadcrumbs__item ">
            <a href="#">All courses</a>
          </div>

          @* TODO: add breadcrumbs *@

        </div>
      </div>
    </div>
  </div>
</section>


<section class="page-header -type-1">
  <div class="container">
    <div class="page-header__content">
      <div class="row">
        <div class="col-auto">
          <div data-anim="slide-up delay-1">
            <h1 class="page-header__title">Explore problems</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="layout-pt-md layout-pb-md">
  <div data-anim="slide-up delay-2" class="container">
    <div class="row y-gap-20 items-center justify-between pb-30">
      <div class="col-auto">
        <div class="text-14 lh-12">Showing <span class="text-dark-1 fw-500">@Model.Courses.Count</span> total
          results</div>
      </div>
    </div>

    <div class="row y-gap-60">

      @foreach (var course in Model.Courses)
      {
        <div class="col-12 border-bottom-light">
          <a href="#" class="coursesCard -type-1 row y-gap-20 flex-row items-center">
            <div class="col-xl-3 col-lg-4">
              <div class="coursesCard__image rounded-8 relative">
                <img class="w-1/1 rounded-8" src="~/img/coursesCards/1.png" alt="image">
                <div class="coursesCard__image_overlay rounded-8"></div>
              </div>
            </div>

            <div class="col">
              <div class="col-12 text-20 lh-15 fw-500 text-dark-1 mt-10">@course.Name
              </div>
              <div class="mt-8">@course.Description</div>

              <div class="row x-gap-10 y-gap-10 items-center pt-10">
                <div class="col-auto">
                  <div class="d-flex items-center">
                    <img class="mr-8" src="~/img/coursesCards/icons/1.svg" alt="icon">
                    @* TODO: add number of problems *@
                    <div class="text-14 lh-1">6 problems</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center">
                    <img class="mr-8" src="~/img/coursesCards/icons/2.svg" alt="icon">
                    @* TODO: add estimated time to complete *@
                    <div class="text-14 lh-1">3h 56m</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center">
                    <img class="mr-8" src="~/img/coursesCards/icons/3.svg" alt="icon">
                    @* TODO: add difficulty *@
                    <div class="text-14 lh-1">Beginner</div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-auto md:d-none">
              <div class="line -vertical -h-120 bg-light-5 ml-60 lg:ml-20 md:ml-0"></div>
            </div>

            <div class="col-md-auto">
              <div class="row x-gap-20 y-gap-20 items-center pt-25">
                <div class="col-auto">
                  <button class="button h-50 px-30 -outline-purple-1 text-purple-1 -icon">Explore
                    <i class="icon-arrow-top-right text-13 ml-10"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      }

    </div>
  </div>
</section>