<header data-anim="fade" data-add-bg="bg-dark-1" class="header -type-1 js-header">
    <div class="header__container">
        <div class="row justify-between items-center">

            <div class="col-auto">
                <div class="header-left">

                    <div class="header__logo ">
                        <a data-barba asp-action="Index" asp-controller="Home">
                            <img src="~/img/general/logo.svg" alt="logo">
                        </a>
                    </div>

                    <div class="header__explore text-green-1 ml-60 xl:ml-30 xl:d-none">
                        @* TODO add link *@
                        <a asp-action="Index" asp-controller="Courses" class="d-flex items-center">
                            <i class="icon icon-explore mr-15"></i>
                            Explore problems
                        </a>
                    </div>
                </div>
            </div>


            <div class="header-menu js-mobile-menu-toggle ">
                <div class="header-menu__content">
                    <div class="mobile-bg js-mobile-bg"></div>

                    @if (!SecurityContext.IsAuthenticated)
                    {
                        <div class="d-none xl:d-flex items-center px-20 py-20 border-bottom-light">
                            <a asp-action="Login" asp-controller="Auth" class="text-dark-1">Log in</a>
                            <a asp-action="Signup" asp-controller="Auth" class="text-dark-1 ml-30">Sign Up</a>
                        </div>
                    }

                    <div class="menu js-navList">
                        <ul class="menu__nav text-white -is-active">
                            <li>
                                <a data-barba asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                            @if (SecurityContext.UserHasRole(UserRole.ProblemAuthor))
                            {
                                <li>
                                    <a data-barba asp-action="Index" asp-controller="Courses"
                                        asp-route-filterMaintainer="@SecurityContext.User.UserName">My problems</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                        <div class="mobile-footer__number">
                            <div class="text-17 fw-500 text-dark-1">Call us</div>
                            <div class="text-17 fw-500 text-purple-1">800 388 80 90</div>
                        </div>

                        <div class="lh-2 mt-10">
                            <div>329 Queensberry Street,<br> North Melbourne VIC 3051, Australia.</div>
                            <div>hi@educrat.com</div>
                        </div>

                        <div class="mobile-socials mt-10">

                            <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                <i class="fa fa-instagram"></i>
                            </a>

                            <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                <i class="fa fa-linkedin"></i>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
                    <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
                        <div class="icon-close text-dark-1 text-16"></div>
                    </div>
                </div>

                <div class="header-menu-bg"></div>
            </div>


            <div class="col-auto">
                <div class="header-right d-flex items-center">
                    <div class="header-right__icons text-white d-flex items-center">
                        <div class="d-none xl:d-block ml-20">
                            <button class="text-white items-center" data-el-toggle=".js-mobile-menu-toggle">
                                <i class="text-11 icon icon-mobile-menu"></i>
                            </button>
                        </div>

                    </div>

                    @if (!SecurityContext.IsAuthenticated)
                    {
                        <div class="header-right__buttons d-flex items-center ml-30 md:d-none">
                            <a asp-action="Login" asp-controller="Auth" class="button -underline text-white">Log in</a>
                            <a asp-action="Signup" asp-controller="Auth" class="button -sm -white text-dark-1 ml-30">Sign
                                up</a>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex items-center ml-10">
                            <a href="#" data-el-toggle=".js-profile-toggle">
                                <div class="d-flex flex-row items-center x-gap-5 rounded-8 user-header">
                                    <div class="d-flex flex-row text-right pr-sm-3 xl:d-none pl-5">
                                        <span class="text-white opac-70">@SecurityContext.User!.FirstName</span>&nbsp;
                                        <span class="text-white">@SecurityContext.User!.LastName</span>
                                    </div>
                                    <span class="text-white d-flex items-center justify-center rounded-8"
                                        style="height: 40px; width: 40px;"><i class="text-20 icon-person-3 ml-0"></i></span>
                                </div>
                            </a>

                            <div class="toggle-element js-profile-toggle">
                                <div
                                    class="toggle-bottom -profile bg-white -dark-bg-dark-1 shadow-4 border-light rounded-8 mt-10">
                                    <div class="px-30 py-30">

                                        <div class="sidebar -dashboard">
                                            <div class="sidebar__item ">
                                                @* TODO add link *@
                                                <a href="#" class="d-flex items-center text-17 lh-1 fw-500 ">
                                                    <i class="text-20 icon-person-3 mr-15"></i>
                                                    Profile
                                                </a>
                                            </div>

                                            <div class="sidebar__item ">
                                                <a asp-action="Logout" asp-controller="Auth"
                                                    class="d-flex items-center text-17 lh-1 fw-500 ">
                                                    <i class="text-20 icon-power mr-15"></i>
                                                    Logout
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</header>