@model SolveProblemViewModel

@{
  ViewData["Title"] = "Solve - " + Model.Name;
}

<section class="page-header -type-1 mt-90">
  <div class="container">
    <div class="page-header__content">
      <div class="row">
        <div class="col-auto">
          <div data-anim="slide-up delay-1">
            <h1 class="page-header__title">Solve - @Model.Name</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div data-anim="slide-up delay-2" class="container">
    <div class="row items-start justify-between pb-30">
      <div class="col-auto markdown-container">
        @Html.Raw(Model.StatementHtml)
      </div>
      <div class="col-auto text-center" id="solve_options_container">
        <div class="markdown-container">
          <h6>Solve the problem on your computer</h6>
          <div class="mt-10">
            <a asp-action="DownloadSource" asp-route-problemId="@Model.Id" target="_blank"
              class="button -md -outline-purple-1 text-purple-1 -icon">Download sources
              <i class="fas fa-file-arrow-down ml-10 text-20"></i>
            </a>
          </div>
          <div id="submission_upload_container">
            <p class="my-2">and</p>
            <input type="file" id="submission_pond" class="filepond" name="filepond" multiple data-allow-reorder="true"
              data-max-file-size="5MB" data-max-files="1">
          </div>
        </div>
        <h6 class="mt-30">or</h6>
        <div class="markdown-container mt-30">
          <h6>Solve the problem online</h6>
          <div class="mt-10">
            <a asp-action="LaunchWorkspace" asp-controller="Workspace" asp-route-problemId="@Model.Id"
              class="button -md -orange-1 text-white -icon">Solve online
              <i class="fas fa-cloud-arrow-up ml-10 text-20"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-auto text-center" id="solved_container" style="display: none;">
        <div class="markdown-container">
          <h6 class="text-green-5">You have already solved this problem</h6>
          <div class="mt-10">
            <button class="button -md -purple-1 text-white -icon" id="solve_again">Solve again
              <i class="fas fa-repeat ml-10 text-20"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-30">
      <div class="col-auto">
        <div id="submission_result_container" style="display: none;">
          <button class="button -sm -red-3 text-white mb-10" id="try_again" style="display: none;">Try again
            <i class="fas fa-repeat ml-10 text-20"></i>
          </button>
          <h4>Submission details</h4>
          <p>Id: <span id="submission_id" class="fw-600"></span></p>
          <p>Status: <span id="submission_status" class="fw-600">Not polled yet</span></p>
        </div>
      </div>
    </div>
  </div>
</section>

@section Styles {
  <!-- Filepond stylesheet -->
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
}

@section Scripts {
  <!-- FilePond -->
  <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
  <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
  <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

  <script>
    $.fn.filepond.registerPlugin(FilePondPluginFileValidateSize);

    const inputElement = document.querySelector('input[id="submission_pond"]');

    let checkInterval = null;

    function problemSolved() {
      $('#solve_options_container').hide();
      $('#solved_container').show();
    }

    @if (Model.IsSolved)
    {
      <text>
          problemSolved();
      </text>
    }

      $('#solve_again').click(() => {
        $('#solve_options_container').show();
        $('#solved_container').hide();
        $('#submission_upload_container').show();
      });

    $('#try_again').click(() => {
      $('#submission_result_container').hide();
      $('#submission_upload_container').show();

      pond.removeFiles();
      $(".test-error").remove();

      $('#try_again').hide();
    });

    const pond = FilePond.create(inputElement, {
      labelIdle: 'Upload your submission - <span class="filepond--label-action"> Browse </span>',
      server: {
        process: {
          url: '/problem/UploadSubmission?problemId=@Model.Id',
          onerror: (response) => {
            notie.alert({type: 'error', text: response, position: 'bottom'});
            return response;
          },
          onload: (response) => {
            response = JSON.parse(response);

            $('#submission_result_container').show();
            $('#submission_id').text(response.submissionId);
            $('#submission_upload_container').hide();

            checkInterval = setInterval(() => {
              $.ajax({
                url: '/problem/CheckSubmission?submissionId=' + response.submissionId,
                type: 'GET',
                success: (response) => {
                  $('#submission_status').text(response.status);

                  if (response.status !== 'Pending') {
                    clearInterval(checkInterval);

                    // show errors if any
                    if (response.status === 'Failed') {
                      $('#submission_status').attr('class', 'text-red-1 fw-600');
                      response.errors.forEach(error => {
                        $('#submission_result_container').append('<div class="test-error mt-10"><h6>' + error.type + '</h6><p style="white-space: pre-line">' + error.message + '</p></div>');
                      });
                      $('#try_again').show();
                    }

                    if (response.status === 'Passed') {
                      $('#submission_status').attr('class', 'text-green-5 fw-600');
                      problemSolved();
                    }
                  } else {
                    $('#submission_status').attr('class', 'text-purple-4 fw-600');
                    $('#submission_status').text('Checking... Do NOT refresh the page!');
                  }
                },
                error: (xhr, status, error) => {
                  notie.alert({type: 'error', text: error, position: 'bottom'});
                }
              });
            }, 1000);

            return response;
          }
        },
      }
    });
  </script>
}